.hidden {
    display: none;
}
.form-container {
    background-color: #bbb;
    border: 1px solid black;
    border-radius: 3px;
    width: 50%;
    padding: 1% 2%;
    margin-top: 20px;
}

input {
    width: 96%;
}

a.step, button {
    border-radius: 2em;
    background-color: #f7f7f7;
    padding: 0 2%;
    text-decoration: none;
}

button {
    font-size: 15px;
}
.form-submit, a.step-next{
    background-color: #0275d8;
    color: white
}
